<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>profil</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-primary bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="cursus">Formatic</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="profil">Profil</a>
        </li>
      
     
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cursus
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Tous les cursus</a></li>
            <li><a class="dropdown-item" href="#">Mes cursus</a></li>
            
          </ul>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Formateur
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="demandeFormateur">Demande formateur</a></li>
            <li><a class="dropdown-item" href="#">Mes cursus</a></li>
            
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="deconnexion">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="card mt-4 border-0">
  <div class="card-body">
   <form action="#" th:action="@{/updateUser}"
			method="post" class="offset-3">
	<input type="hidden" th:field="*{id}" />
			<table border="0" cellpadding="10">
					
				<tr>				
					<td>Téléphone:</td>
					<td>
						<input type="text" name="telephone" />
					</td>
				</tr>
				<tr>
					<td>Parcours:</td>
					<td>
					
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="parcours"></textarea>
					</td>
				</tr>
			
				
							
				<tr>
					<td colspan="2"><button class="btn btn-primary" type="submit">Envoyer</button> </td>
				</tr>
			</table>
		</form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>